/* Code for CSS */
body {
    background-color: #232323;
    font-family: "Avenir";
    margin: 0;   
}

/* container */
#container {
    margin: 20px auto;
    max-width: 500px;
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.2s;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    ;
}


#stripe {
    background: white;
    height: 30px;
    text-align: center;
}

/* h1 */
h1 {
    margin: 0;
    color: white;
    font-weight: normal;
    background-color: steelblue;
    text-align: center;
    text-transform: uppercase;
}

#colorDisplay {
    font-weight: bold;
    font-size: 200%;
}
/* button */
button {
    font-weight: 700;
    border: 0;
    background: none;
    text-transform: uppercase;
    font-size: inherit;
    color: steelblue;
    transition: all 0.1s;
    height: 100%;
    outline: none;
}
.selected {
    background: steelblue;
    color: white;
}

#message {
    display: inline-block;
    width: 20%;
}

button:hover {
    color: white;
    background: steelblue;
}